<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<configSections>
		<section name="rewriter" requirePermission="false" type="Intelligencia.UrlRewriter.Configuration.RewriterConfigurationSectionHandler, Intelligencia.UrlRewriter" />
		<sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
			<sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
				<section name="scriptResourceHandler" type="System.Web.Configuration.ScriptingScriptResourceHandlerSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication" />
				<sectionGroup name="webServices" type="System.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
					<section name="jsonSerialization" type="System.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="Everywhere" />
					<section name="profileService" type="System.Web.Configuration.ScriptingProfileServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication" />
					<section name="authenticationService" type="System.Web.Configuration.ScriptingAuthenticationServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication" />
					<section name="roleService" type="System.Web.Configuration.ScriptingRoleServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication" />
				</sectionGroup>
			</sectionGroup>
		</sectionGroup>
	</configSections>
	<appSettings>
		<add key="Connectstring" value="Server=LPP00044207B\SQLEXPRESS;Initial Catalog=RCP;Integrated Security=True;"/>
		<add key="PathClient" value="http://localhost:49188"/>
		<add key="PathAdmin" value="http://localhost:49188/admins"/>
		<add key="PathImagesUpload" value="http://localhost:49188/FileUpload"/>
		<add key="DisplayPage" value="20" />
		<add key="numProDefault" value="12" />
		<add key="numProducts" value="21" />
		<add key="numProNewImage" value="3" />
		<add key="numProHot" value="8" />
		<add key="imageSizeSanphammoi" value="326x234" />
		<add key="imageSizeGiamgia" value="326x234" />
		<add key="imageSizeAboutUs" value="426x320" />
		<add key="imageSizeProducts" value="120x120" />
		<add key="imageSizeSolution" value="140x110" />
		<add key="imageSizeProducts400x400" value="400x400" />
		<add key="imageSizeProducts190x120" value="190x120" />
		<add key="imageSizeCompany" value="150x104" />
		<add key="imageSizeShopOnline" value="135x135" />
		<add key="imageSizeNews" value="140x110" />
		<add key="imageSizeDesignPunching" value="135x135" />
		<add key="imageSizeDesignPattern" value="135x135" />
		<add key="imageSizeServices" value="140x110" />
		<add key="imageSizeServices190x120" value="190x120" />
		<add key="imageSizeBoxAd" value="190x120" />
		<add key="imageSizeAlbum" value="960x290" />
		<add key="FCKeditorUserFilesPath" value="~/FileUpload/" />
		<add key="FCKeditor:BaseHref" value="http://localhost:49188/"/>
		<add key="MailServer" value="112.78.7.50" />
		<add key="emailadmin" value="sales@hoangminhkhang.com.vn" />
		<add key="emailadminFrom" value="glassrosetp@gmail.com" />
		<add key="emailadminFrom_pass" value="asdfghjkl123456" />
		<add key="IsShowNewProducts" value="ON" />
		<add key="IsShowTKe" value="ON" />
		<add key="IsSendMailAdmin" value="ON" />
		<add key="IsUrlRewrite" value="ON" />
	</appSettings>
	<system.web>
		<!--urlMappings enabled="true">
      <add url="~/Handler/handler.aspx" mappedUrl="~/Handler/Handler.ashx"/>
    </urlMappings-->
		<!--sessionState mode="StateServer" cookieless="false" timeout="30"/-->
		<!--sessionState mode="InProc" timeout="180"/-->
		<pages enableSessionState="true">
			<controls>
				<add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
			</controls>
		</pages>
		<httpRuntime maxRequestLength="12000" />
		<compilation debug="true">
			<assemblies>
				<add assembly="System.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Xml.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="System.Data.DataSetExtensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
			</assemblies>
		</compilation>
		<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
		<!--authentication mode="Windows"/-->
		<!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.
-->
		<customErrors mode="Off">
		</customErrors>
		<httpModules>
			<add name="UrlRewriter" type="Intelligencia.UrlRewriter.RewriterHttpModule, Intelligencia.UrlRewriter" />
		</httpModules>
		<httpHandlers>
			<remove verb="*" path="*.asmx" />
			<add verb="*" path="*.asmx" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
			<add verb="*" path="*_AppService.axd" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
			<add verb="GET,HEAD" path="ScriptResource.axd" validate="false" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
		</httpHandlers>
	</system.web>
	<!--urlrewritingnet rewriteOnlyVirtualUrls="true" contextItemsPrefix="QueryString" defaultPage="default.aspx" defaultProvider="RegEx" xmlns="http://www.urlrewriting.net/schemas/config/2006/07">
    <rewriter>
      <add name="ProductsDetailCatSubSub" virtualUrl="^~/(\d+)/(\d+)/(\d+)/(\d+)/(\d+)/san-pham/(.*)/(.*)/(.*)/(.*).aspx" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/ProductsDetail.aspx?l=$1&amp;id=$2&amp;cat=$3&amp;catdetail=$4&amp;catdetailsub=$5" ignoreCase="true"/>
      <add name="ProductsDetailCatSub" virtualUrl="^~/(\d+)/(\d+)/(\d+)/(\d+)/san-pham/(.*)/(.*)/(.*).aspx" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/ProductsDetail.aspx?l=$1&amp;id=$2&amp;cat=$3&amp;catdetail=$4" ignoreCase="true"/>
      <add name="ProductsDetailCat" virtualUrl="^~/(\d+)/(\d+)/(\d+)/san-pham/(.*)/(.*).aspx" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/ProductsDetail.aspx?l=$1&amp;id=$2&amp;cat=$3" ignoreCase="true"/>
      <add name="ServicesCatSub" virtualUrl="^~/(\d+)/trang-(\d+)/(\d+)/(\d+)/dich-vu-xay-dung/(.*)/(.*).aspx" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/ListServices.aspx?l=$1&amp;pg=$2&amp;cats=$3&amp;catdetails=$4" ignoreCase="true"/>
      <add name="ServicesCat" virtualUrl="^~/(\d+)/trang-(\d+)/(\d+)/dich-vu-xay-dung/(.*).aspx" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/ListServices.aspx?l=$1&amp;pg=$2&amp;cats=$3" ignoreCase="true"/>
      <add name="Services" virtualUrl="^~/(\d+)/trang-(\d+)/dich-vu-xay-dung.aspx" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/ListServices.aspx?l=$1&amp;pg=$2" ignoreCase="true"/>
      <add name="ProductsCatSubSub" virtualUrl="^~/(\d+)/trang-(\d+)/(\d+)/(\d+)/(\d+)/danh-sach-san-pham/(.*)/(.*)/(.*).aspx" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/products.aspx?l=$1&amp;pg=$2&amp;cat=$3&amp;catdetail=$4&amp;catdetailsub=$5" ignoreCase="true"/>
      <add name="ProductsCatSub" virtualUrl="^~/(\d+)/trang-(\d+)/(\d+)/(\d+)/danh-sach-san-pham/(.*)/(.*).aspx" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/products.aspx?l=$1&amp;pg=$2&amp;cat=$3&amp;catdetail=$4" ignoreCase="true"/>
      <add name="ProductsCat" virtualUrl="^~/(\d+)/trang-(\d+)/(\d+)/danh-sach-san-pham/(.*).aspx" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/products.aspx?l=$1&amp;pg=$2&amp;cat=$3" ignoreCase="true"/>
      <add name="ProductsKeyword" virtualUrl="^~/(\d+)/trang-(\d+)/danh-sach-san-pham/(.*).aspx" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/products.aspx?l=$1&amp;pg=$2&amp;kw=$3" ignoreCase="true"/>
      
      <add name="ServicesDetailCatSub" virtualUrl="^~/(\d+)/(\d+)/(\d+)/(\d+)/dich-vu-xay-dung/(.*)/(.*)/(.*).aspx" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/ServicesDetail.aspx?l=$1&amp;id=$2&amp;cats=$3&amp;catdetails=$4" ignoreCase="true"/>
      <add name="ServicesDetailCat" virtualUrl="^~/(\d+)/(\d+)/(\d+)/dich-vu-xay-dung/(.*)/(.*).aspx" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/ServicesDetail.aspx?l=$1&amp;id=$2&amp;cats=$3" ignoreCase="true"/>
      <add name="News" virtualUrl="^~/(\d+)/trang-(\d+)/tin-tuc.aspx" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/ListNews.aspx?l=$1&amp;pg=$2" ignoreCase="true"/>
      <add name="NewsDetail" virtualUrl="^~/(\d+)/(\d+)/tin-tuc/(.*).aspx" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/NewsDetail.aspx?l=$1&amp;id=$2" ignoreCase="true"/>
      <add name="Promotion" virtualUrl="^~/(\d+)/trang-(\d+)/khuyen-mai.aspx" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/ListSolution.aspx?l=$1&amp;pg=$2" ignoreCase="true"/>
      <add name="PromotionDetail" virtualUrl="^~/(\d+)/(\d+)/khuyen-mai/(.*).aspx" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/SolutionDetail.aspx?l=$1&amp;id=$2" ignoreCase="true"/>
      <add name="ContactUs" virtualUrl="^~/(\d+)/lien-he.aspx" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/ContactUs.aspx?l=$1" ignoreCase="true"/>
      <add name="Promotions" virtualUrl="^~/(\d+)/trang-(\d+)/khuyen-mai.aspx" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/ListSolution.aspx?l=$1&amp;pg=$2" ignoreCase="true"/>
      <add name="News" virtualUrl="^~/(\d+)/trang-(\d+)/tin-tuc.aspx" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/ListNews.aspx?l=$1&amp;pg=$2" ignoreCase="true"/>
      <add name="Products" virtualUrl="^~/(\d+)/trang-(\d+)/danh-sach-san-pham.aspx" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/products.aspx?l=$1&amp;pg=$2" ignoreCase="true"/>
      <add name="AboutUs" virtualUrl="^~/(\d+)/gioi-thieu.aspx" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/About.aspx?l=$1" ignoreCase="true"/>
      <add name="Giohang" virtualUrl="^~/(\d+)/gio-hang.aspx" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Giohang.aspx?l=$1" ignoreCase="true"/>
      <add name="Home" virtualUrl="^~/(\d+)/trang-chu.aspx" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Default.aspx?l=$1" ignoreCase="true"/>
      <add name="Home1" virtualUrl="^~/" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Default.aspx?l=0" ignoreCase="true"/>
    </rewriter> 
</urlrewritingnet-->
	<rewriter>
		<rewrite url="~/(\d+)/trang-(\d+)/(\d+)/(\d+)/(\d+)/(\d+)/san-pham/(.*)/(.*)/(.*)/(.*).aspx" to="~/ProductsDetail.aspx?l=$1&amp;pg=$2&amp;id=$3&amp;cat=$4&amp;catdetail=$5&amp;catdetailsub=$6" processing="stop" />
		<rewrite url="~/(\d+)/trang-(\d+)/(\d+)/(\d+)/(\d+)/(\d+)/mobile/san-pham/(.*)/(.*)/(.*)/(.*).aspx" to="~/ProductsDetailMobile.aspx?l=$1&amp;pg=$2&amp;id=$3&amp;cat=$4&amp;catdetail=$5&amp;catdetailsub=$6" processing="stop" />
		<rewrite url="~/(\d+)/trang-(\d+)/(\d+)/(\d+)/(\d+)/san-pham/(.*)/(.*)/(.*).aspx" to="~/ProductsDetail.aspx?l=$1&amp;pg=$2&amp;id=$3&amp;cat=$4&amp;catdetail=$5" processing="stop" />
		<rewrite url="~/(\d+)/trang-(\d+)/(\d+)/(\d+)/(\d+)/mobile/san-pham/(.*)/(.*)/(.*).aspx" to="~/ProductsDetailMobile.aspx?l=$1&amp;pg=$2&amp;id=$3&amp;cat=$4&amp;catdetail=$5" processing="stop" />
		<rewrite url="~/(\d+)/trang-(\d+)/(\d+)/(\d+)/san-pham/(.*)/(.*).aspx" to="~/ProductsDetail.aspx?l=$1&amp;pg=$2&amp;id=$3&amp;cat=$4" processing="stop" />
		<rewrite url="~/(\d+)/trang-(\d+)/(\d+)/(\d+)/mobile/san-pham/(.*)/(.*).aspx" to="~/ProductsDetailMobile.aspx?l=$1&amp;pg=$2&amp;id=$3&amp;cat=$4" processing="stop" />
		<rewrite url="~/(\d+)/trang-(\d+)/(\d+)/(\d+)/dich-vu-xay-dung/(.*)/(.*).aspx" to="~/ListServices.aspx?l=$1&amp;pg=$2&amp;cats=$3&amp;catdetails=$4" processing="stop" />
		<rewrite url="~/(\d+)/trang-(\d+)/(\d+)/(\d+)/mobile/dich-vu-xay-dung/(.*)/(.*).aspx" to="~/ListServicesMobile.aspx?l=$1&amp;pg=$2&amp;cats=$3&amp;catdetails=$4" processing="stop" />
		<rewrite url="~/(\d+)/trang-(\d+)/(\d+)/dich-vu-xay-dung/(.*).aspx" to="~/ListServices.aspx?l=$1&amp;pg=$2&amp;cats=$3" processing="stop" />
		<rewrite url="~/(\d+)/trang-(\d+)/(\d+)/mobile/dich-vu-xay-dung/(.*).aspx" to="~/ListServicesMobile.aspx?l=$1&amp;pg=$2&amp;cats=$3" processing="stop" />
		<rewrite url="~/(\d+)/trang-(\d+)/dich-vu-xay-dung.aspx" to="~/ListServices.aspx?l=$1&amp;pg=$2" processing="stop" />
		<rewrite url="~/(\d+)/trang-(\d+)/mobile/dich-vu-xay-dung.aspx" to="~/ListServicesMobile.aspx?l=$1&amp;pg=$2" processing="stop" />
		<rewrite url="~/(\d+)/trang-(\d+)/(\d+)/(\d+)/(\d+)/danh-sach-san-pham/(.*)/(.*)/(.*).aspx" to="~/products.aspx?l=$1&amp;pg=$2&amp;cat=$3&amp;catdetail=$4&amp;catdetailsub=$5" processing="stop" />
		<rewrite url="~/(\d+)/trang-(\d+)/(\d+)/(\d+)/(\d+)/mobile/danh-sach-san-pham/(.*)/(.*)/(.*).aspx" to="~/productsMobile.aspx?l=$1&amp;pg=$2&amp;cat=$3&amp;catdetail=$4&amp;catdetailsub=$5" processing="stop" />
		<rewrite url="~/(\d+)/trang-(\d+)/(\d+)/(\d+)/danh-sach-san-pham/(.*)/(.*).aspx" to="~/products.aspx?l=$1&amp;pg=$2&amp;cat=$3&amp;catdetail=$4" processing="stop" />
		<rewrite url="~/(\d+)/trang-(\d+)/(\d+)/(\d+)/mobile/danh-sach-san-pham/(.*)/(.*).aspx" to="~/productsMobile.aspx?l=$1&amp;pg=$2&amp;cat=$3&amp;catdetail=$4" processing="stop" />
		<rewrite url="~/(\d+)/trang-(\d+)/(\d+)/danh-sach-san-pham/(.*).aspx" to="~/products.aspx?l=$1&amp;pg=$2&amp;cat=$3" processing="stop" />
		<rewrite url="~/(\d+)/trang-(\d+)/(\d+)/mobile/danh-sach-san-pham/(.*).aspx" to="~/productsMobile.aspx?l=$1&amp;pg=$2&amp;cat=$3" processing="stop" />
		<rewrite url="~/(\d+)/trang-(\d+)/danh-sach-san-pham/(.*).aspx" to="~/products.aspx?l=$1&amp;pg=$2&amp;kw=$3" processing="stop" />
		<rewrite url="~/(\d+)/trang-(\d+)/mobile/danh-sach-san-pham/(.*).aspx" to="~/productsMobile.aspx?l=$1&amp;pg=$2&amp;kw=$3" processing="stop" />

		<rewrite url="~/(\d+)/trang-(\d+)/(\d+)/(\d+)/(\d+)/dich-vu-xay-dung-chi-tiet/(.*)/(.*)/(.*).aspx" to="~/ServicesDetail.aspx?l=$1&amp;pg=$2&amp;id=$3&amp;cats=$4&amp;catdetails=$5" processing="stop" />
		<rewrite url="~/(\d+)/trang-(\d+)/(\d+)/(\d+)/(\d+)/mobile/dich-vu-xay-dung-chi-tiet/(.*)/(.*)/(.*).aspx" to="~/ServicesDetailMobile.aspx?l=$1&amp;pg=$2&amp;id=$3&amp;cats=$4&amp;catdetails=$5" processing="stop" />
		<rewrite url="~/(\d+)/trang-(\d+)/(\d+)/(\d+)/dich-vu-xay-dung-chi-tiet/(.*)/(.*).aspx" to="~/ServicesDetail.aspx?l=$1&amp;pg=$2&amp;id=$3&amp;cats=$4" processing="stop" />
		<rewrite url="~/(\d+)/trang-(\d+)/(\d+)/(\d+)/mobile/dich-vu-xay-dung-chi-tiet/(.*)/(.*).aspx" to="~/ServicesDetailMobile.aspx?l=$1&amp;pg=$2&amp;id=$3&amp;cats=$4" processing="stop" />
		<rewrite url="~/(\d+)/trang-(\d+)/tin-tuc.aspx" to="~/ListNews.aspx?l=$1&amp;pg=$2" processing="stop" />

		<rewrite url="~/(\d+)/(\d+)/tin-tuc/(.*).aspx" to="~/NewsDetail.aspx?l=$1&amp;id=$2" processing="stop" />
		<rewrite url="~/(\d+)/(\d+)/mobile/tin-tuc/(.*).aspx" to="~/NewsDetailMobile.aspx?l=$1&amp;id=$2" processing="stop" />
		<rewrite url="~/(\d+)/trang-(\d+)/khuyen-mai.aspx" to="~/ListSolution.aspx?l=$1&amp;pg=$2" processing="stop" />
		<rewrite url="~/(\d+)/(\d+)/khuyen-mai/(.*).aspx" to="~/SolutionDetail.aspx?l=$1&amp;id=$2" processing="stop" />
		<rewrite url="~/(\d+)/lien-he.aspx" to="~/ContactUs.aspx?l=$1" processing="stop" />
		<rewrite url="~/(\d+)/mobile/lien-he.aspx" to="~/ContactUsMobile.aspx?l=$1" processing="stop" />
		<rewrite url="~/(\d+)/tuyen-dung.aspx" to="~/employment.aspx?l=$1" processing="stop" />
		<rewrite url="~/(\d+)/mobile/tuyen-dung.aspx" to="~/employmentMobile.aspx?l=$1" processing="stop" />
		<rewrite url="~/(\d+)/trang-(\d+)/khuyen-mai.aspx" to="~/ListSolution.aspx?l=$1&amp;pg=$2" processing="stop" />
		<rewrite url="~/(\d+)/trang-(\d+)/tin-tuc.aspx" to="~/ListNews.aspx?l=$1&amp;pg=$2" processing="stop" />
		<rewrite url="~/(\d+)/trang-(\d+)/mobile/tin-tuc.aspx" to="~/ListNewsMobile.aspx?l=$1&amp;pg=$2" processing="stop" />
		<rewrite url="~/(\d+)/trang-(\d+)/danh-sach-san-pham.aspx" to="~/products.aspx?l=$1&amp;pg=$2" processing="stop" />
		<rewrite url="~/(\d+)/trang-(\d+)/mobile/danh-sach-san-pham.aspx" to="~/productsMobile.aspx?l=$1&amp;pg=$2" processing="stop" />
		<rewrite url="~/(\d+)/gioi-thieu.aspx" to="~/About.aspx?l=$1" processing="stop" />
		<rewrite url="~/(\d+)/mobile/gioi-thieu.aspx" to="~/AboutMobile.aspx?l=$1" processing="stop" />
		<rewrite url="~/(\d+)/gio-hang.aspx" to="~/Giohang.aspx?l=$1" processing="stop" />
		<rewrite url="~/(\d+)/trang-chu.aspx" to="~/Default.aspx?l=$1" processing="stop" />
		<rewrite url="~/(\d+)/mobile/trang-chu.aspx" to="~/DefaultMobile.aspx?l=$1" processing="stop" />
		<rewrite url="hoangminhkhang.com.vn" to="~/Default.aspx?l=0" processing="stop" />
	</rewriter>
	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CSharp.CSharpCodeProvider,System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4">
				<providerOption name="CompilerVersion" value="v3.5" />
				<providerOption name="WarnAsError" value="false" />
			</compiler>
			<compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.VisualBasic.VBCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4">
				<providerOption name="CompilerVersion" value="v3.5" />
				<providerOption name="OptionInfer" value="true" />
				<providerOption name="WarnAsError" value="false" />
			</compiler>
		</compilers>
	</system.codedom>
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false" />
		<modules>
			<remove name="ScriptModule-4.0" />
			<remove name="UrlRoutingModule-4.0" />
			<remove name="ServiceModel" />
			<remove name="ScriptModule" />
			<add name="ScriptModule" preCondition="managedHandler" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
			<add name="ErrorHandlerModule" type="System.Web.Mobile.ErrorHandlerModule, System.Web.Mobile, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" preCondition="managedHandler" />
			<add name="ServiceModel" type="System.ServiceModel.Activation.HttpModule, System.ServiceModel, Version=3.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" preCondition="managedHandler" />
			<add name="UrlRewriter" type="Intelligencia.UrlRewriter.RewriterHttpModule, Intelligencia.UrlRewriter" preCondition="managedHandler" />
		</modules>
		<httpErrors>
			<error statusCode="400" path="E:\Domains\hoangminhkhang.com.vn\error_docs\bad_request.html" />
			<remove statusCode="401" subStatusCode="-1" />
			<error statusCode="401" path="E:\Domains\hoangminhkhang.com.vn\error_docs\unauthorized.html" />
			<remove statusCode="403" subStatusCode="-1" />
			<error statusCode="403" path="E:\Domains\hoangminhkhang.com.vn\error_docs\forbidden.html" />
			<remove statusCode="404" subStatusCode="-1" />
			<error statusCode="404" path="E:\Domains\hoangminhkhang.com.vn\error_docs\not_found.html" />
			<remove statusCode="405" subStatusCode="-1" />
			<error statusCode="405" path="E:\Domains\hoangminhkhang.com.vn\error_docs\method_not_allowed.html" />
			<remove statusCode="406" subStatusCode="-1" />
			<error statusCode="406" path="E:\Domains\hoangminhkhang.com.vn\error_docs\not_acceptable.html" />
			<error statusCode="407" path="E:\Domains\hoangminhkhang.com.vn\error_docs\proxy_authentication_required.html" />
			<remove statusCode="412" subStatusCode="-1" />
			<error statusCode="412" path="E:\Domains\hoangminhkhang.com.vn\error_docs\precondition_failed.html" />
			<error statusCode="414" path="E:\Domains\hoangminhkhang.com.vn\error_docs\request-uri_too_long.html" />
			<error statusCode="415" path="E:\Domains\hoangminhkhang.com.vn\error_docs\unsupported_media_type.html" />
			<remove statusCode="500" subStatusCode="-1" />
			<error statusCode="500" path="E:\Domains\hoangminhkhang.com.vn\error_docs\internal_server_error.html" />
			<remove statusCode="501" subStatusCode="-1" />
			<error statusCode="501" path="E:\Domains\hoangminhkhang.com.vn\error_docs\not_implemented.html" />
			<remove statusCode="502" subStatusCode="-1" />
			<error statusCode="502" path="E:\Domains\hoangminhkhang.com.vn\error_docs\bad_gateway.html" />
			<error statusCode="503" path="E:\Domains\hoangminhkhang.com.vn\error_docs\maintenance.html" />
			<remove statusCode="451" />
			<error statusCode="451" path="E:\Program Files (x86)\Parallels\Plesk\Additional\ErrorDocs\451.htm" />
		</httpErrors>
		<handlers>
			<add name="*.asmx_*" path="*.asmx" verb="*" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" preCondition="integratedMode,runtimeVersionv2.0" />
			<add name="*_AppService.axd_*" path="*_AppService.axd" verb="*" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" preCondition="integratedMode,runtimeVersionv2.0" />
			<add name="ScriptResource.axd_GET,HEAD" path="ScriptResource.axd" verb="GET,HEAD" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" preCondition="integratedMode,runtimeVersionv2.0" />
			<add name="*.rem_*" path="*.rem" verb="*" type="System.Runtime.Remoting.Channels.Http.HttpRemotingHandlerFactory, System.Runtime.Remoting, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" preCondition="integratedMode,runtimeVersionv2.0" />
			<add name="*.soap_*" path="*.soap" verb="*" type="System.Runtime.Remoting.Channels.Http.HttpRemotingHandlerFactory, System.Runtime.Remoting, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" preCondition="integratedMode,runtimeVersionv2.0" />
			<add name="re" path="*" verb="*" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework\v2.0.50727\aspnet_isapi.dll" resourceType="Unspecified" requireAccess="None" preCondition="classicMode,runtimeVersionv2.0,bitness32" />
		</handlers>
	</system.webServer>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Extensions" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Extensions.Design" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
