<?xml version="1.0"?>

<configuration>
  <configSections>
    <section name="rewriter"  type="Intelligencia.UrlRewriter.Configuration.RewriterConfigurationSectionHandler, Intelligencia.UrlRewriter" />
  </configSections>
	<appSettings>
		<!--add key="Connectstring" value="Server=hamluong.net;Database=hamluong;User ID=hamluong;Password=khongnho;"/-->
		<add key="Connectstring" value="Server=(local);Database=hamluong;User ID=sa;Password=;"/>
		<add key="PathClient" value="http://localhost/hamluong"/>
		<add key="PathAdmin" value="http://localhost/hamluong/admins"/>
		<add key="PathImagesUpload" value="http://localhost/hamluong/FileUpload"/>
		<add key="DisplayPage" value="20"/>
		<add key="numProDefault" value="15"/>
		<add key="numProducts" value="15"/>
		<add key="numProNewImage" value="3"/>
		<add key="imageSizeSanphammoi" value="326x234"/>
		<add key="imageSizeGiamgia" value="326x234"/>
		<add key="imageSizeAboutUs" value="426x320"/>
		<add key="imageSizeProducts" value="160x159"/>
		<add key="imageSizeProducts260x260" value="260x260"/>
		<add key="imageSizeCompany" value="150x104"/>
		<add key="imageSizeShopOnline" value="135x135"/>
		<add key="imageSizeNews" value="120x120"/>
		<add key="imageSizeDesignPunching" value="135x135"/>
		<add key="imageSizeDesignPattern" value="135x135"/>
		<add key="imageSizeService" value="200x130"/>
		<add key="imageSizeBoxAd" value="190x120"/>
		<add key="imageSizeAlbum" value="585x266"/>
		<add key="FCKeditorUserFilesPath" value="~/FileUpload/" />
		<add key="FCKeditor:BaseHref" value="http://localhost/hamluong/"/>
		<add key="MailServer" value="112.78.7.50"/>
		<add key="emailadmin" value="nguyennhattruongpy@gmail.com"/>
		<add key="IsShowNewProducts" value="ON"/>
		<add key="IsShowTKe" value="ON"/>
	</appSettings>
	<system.web>
    <!--urlMappings enabled="true">
      <add url="~/Handler/handler.aspx" mappedUrl="~/Handler/Handler.ashx"/>
    </urlMappings-->

    <!--sessionState mode="StateServer" cookieless="false" timeout="30"/-->
		<sessionState mode="InProc" timeout="180"  />
    <pages enableSessionState="true" />
		<httpRuntime maxRequestLength="12000" />
		<compilation debug="true">
			<assemblies>
				<add assembly="System.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
			</assemblies>
		</compilation>
		<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
		<authentication mode="Windows"/>
		<!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.
-->
		<customErrors mode="Off" >

		</customErrors>
    <httpModules>
      <add name="UrlRewriter" type="Intelligencia.UrlRewriter.RewriterHttpModule, Intelligencia.UrlRewriter"/>
    </httpModules>
  </system.web>
  <rewriter>
    <rewrite url="~/upload-font.htm$" to="~/Uploadfont.aspx" processing="stop" />
    <rewrite url="~/Danh-sach-font-cua-ban/trang-(\d+).htm$" to="~/Listfont.aspx?pg=$1" processing="stop" />
    <rewrite url="~/bai-viet-(\d+)/trang-(\d+).htm$" to="~/BlogList.aspx?cat=$1&amp;pg=$2" processing="stop" />
    <rewrite url="~/bai-viet-(\d+)/(.*)-(\d+).htm$" to="~/BlogDetail.aspx?cat=$1&amp;id=$3" processing="stop" />

    <rewrite url="~/alpha-(.*)/trang-(\d+).htm$" to="~/Default.aspx?ch=$1&amp;pg=$2" processing="stop" />
    <rewrite url="~/keyword-(.*)/trang-(\d+).htm$" to="~/Default.aspx?kw=$1&amp;pg=$2" processing="stop" />
    <rewrite url="~/(.*)-(\d+)/trang-(\d+).htm$" to="~/Default.aspx?catsub=$2&amp;pg=$3" processing="stop" />
    <rewrite url="~/font-download-(.*)-(.*)/(\d+).htm$" to="~/Download1.aspx?id=$3&amp;n=$2" processing="stop" />
    <rewrite url="~/(.*)-(\d+)/xem-thu-font-(.*)-(\d+).htm$" to="~/FontPreview.aspx?catsub=$2&amp;id=$4" processing="stop" />
    <rewrite url="~/trang-(\d+).htm$" to="~/Default.aspx?pg=$1" processing="stop" />
    
  </rewriter>
</configuration>
